@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
:root{
    --primary-color:#0bc8e1;
    --text-color:#7d888a;
    --nv-color: #185b78;
}
html{
    font-size: 10px;
}
body{
    font-family: Inter,sans-serif;
    background-color: black;
    color:white;
}
.rounded-img{
    width: 300px;
    height: 300px; 
    border-radius: 50%;
    overflow:hidden
}
/* common style */
img{
    grid-template-columns: 1fr 1fr;
    float: left;
    margin-right: 1.5rem;
}
a{
    text-decoration: none;
    color:white;
}
.description{
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.des_email{
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_preTitle{
    font-size: 1.4rem;
    color: var(--text-color); 
    font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: white; 
    font-weight: 500;
    margin: 0.8rem 0; 
}
.item_subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
/*layouts*/
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; 
    display: grid; 
    padding: 5rem; 
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
        gap: 7rem; 
    }
}
.profile{
    grid-column: 1/-1;
    margin-bottom: 2rem;
}
.group-1, .group-2{
    display: flex; 
    flex-direction: column;
    gap: 5rem;
}
.group-3{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem; 
}
.group-3>div{
    flex: 1; 
}
@media only screen and (max-width: 768px) {
    .profile {
        margin-bottom: 0;
    }
    .group-1, .group-2, .group-3 {
        flex-direction: column;
        align-items: center; /* Optional: Centers items horizontally */
    }
    .container{
        grid-template-columns: 1fr;
    }
}

/* nav bar */
body{
    margin: 0;
}
  .navbar {
    max-width: 1000px;
    gap: 4rem;
    margin: 0 auto;
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    justify-content: center;
    background-color: #555d5f;
    overflow: hidden;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
    text-align: right;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    float: left;
    margin: 0 10px;
  }
  
  .nav-links li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    background-color: var(--primary-color);
    color: black;
    box-shadow: 0 0 10px #0ef;
    border-radius: 10%;
  }
  @media (max-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; /* Adjusting padding for better spacing */
    }
  
    .nav-links li {
      margin: 10px 0; /* Adding margin for better separation between list items */
      text-align: center; /* Aligning text in the center */
    }
  
    .nav-links li a {
      display: block;
      padding: 10px; /* Adding padding for easier tapping on mobile */
      width: 100%; /* Make the links full width for easier tapping */
      transition: background-color 0.3s ease; /* Adding a transition effect */
    }
  
    .nav-links li a:hover {
      background-color: #ddd; /* Change background color on hover for better feedback */
    }
  }
  
/*profile*/
.profile_container{
    display: flex;
    gap: 2rem; 
}
.profile_profileImg{
    max-width: 250px;
}
.profile_name_firstName{
    color: white; 
    font-weight: 200;
    font-size: clamp(2rem,10vw,4rem);
    text-transform: uppercase;
    display: block; 
    margin-bottom: -0.8rem;
}
.profile_name_lastName{
    color:var(--primary-color); 
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display:block; 
}
.profile_title{
    font-size: 1.5rem; 
    font-weight: 400; 
    text-transform: uppercase;
}
.downloadBtn{
    display:block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
    float: left;
    /* margin-left: 3rem; */
}
.downloadBtn:hover{
    color:var(--primary-color)
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}

/*Expertise*/
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2; 
}
/*reference*/
.ref_item{
    margin-top: 2rem;
}
.ref_name{
    font-size: 1.6rem;
    font-weight: 700;
}
/*Education*/
.edu_item{
    margin-top: 2rem;
}
/*certification*/
.certification_item{
    margin-top: 2rem;
}

/*experience item*/
.exp_item{
    margin-top: 2rem;
}
/*awards*/ 
.awards_item{
    margin: 2rem;
}
/*interests*/
.interest_items{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}
.interest_item svg{
    width: 2rem; 
}

/*contact*/ 
.contact{
    margin-left: 2rem;
}
.contact_info{
    margin-left: 0.5rem;
}
.des_email{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem; 
    align-items: center;
    justify-content: flex;
    color: var(--text-color);
}
.des_email:hover{
    color:var(--primary-color);
}
/*socials*/
.socials{
    margin-left: 0.5rem;
}
.social_item{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem; 
    align-items: center;
    justify-content: flex;
    color: var(--text-color);
}
.social_item:hover{
    color:var(--primary-color);
}
.social_item svg{
    width: 2rem;
}

hr{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: none; 
    border-top: 2px solid gray; 
}
@media Only screen and (max-width:768px){
    hr{
        margin: 0 auto; 
    }
}
/* Nav bar pages */

/* About section */
.bio-container{
    justify-content: center;
}
.about{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase; 
    text-align: center; 
}
.bio_name{
    font-size: 3rem;
    color: white; 
    font-weight: 500;
    margin: 0.8rem 0; 
    text-align: center;  
    text-transform: uppercase;
}
.bio_title{
    font-size: 1.6rem;
    color: white; 
    font-weight: 500;
    margin: 0.8rem 0; 
    text-align: center;
}
.aboutDownloadBtn{
    display:block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 0.8rem;
    text-align: center;
    position: relative;
}
.aboutDownloadBtn:hover{
    color:var(--primary-color)
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
    }
}

.bio_profileImg {
    display: flex;
    width: 300px;
    height: 350px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: auto; 
}

.bio_profileImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
/* contact page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 20px; 
}

.container_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5rem;
    background-color: #070707;
    background-size: cover;
    background-position: center;
}

.container_contact h2 {
    font-size: 40px;
    color: #0bc8e1;
    text-align: center;
    margin-bottom: 20px;
}

.container_contact form {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.container_contact group-3{
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.input-box {
    display: flex;
    justify-content: space-evenly;
}

.field .item {
    flex: 1;
    min-width: 45%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 2px; 
    box-sizing: border-box; 
}

.field.error .item{
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.textarea-field .item {
    resize: none;
    width: 80%;  
    height: 200px; 
    box-sizing: border-box; 
}

form button{
    padding: 12px 32px; 
    background-color: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333; 
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}

form button:hover{
    box-shadow: none;
}
/* bottom format */
.bottom-container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; 
    display: grid; 
    padding: 5rem; 
    background: linear-gradient(#070707, #071f2e);
    gap: 4rem;  
}

/* under construction page */
.container-construction{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; 
    display: grid; 
    padding: 5rem; 
    background: #070707;
    gap: 4rem;  
}
.construction{
    text-align: center;
    max-width: 1000px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem;
}
.cont_title{
    font-size: 1.5rem; 
    font-weight: 400; 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}